<h1 class="page-title">All Movies</h1>

<div class="all-movie">
  <% @movies.each do |movie| %>
    <div class="movie" style="border-bottom: 1px solid #13131b;">
      <h2 class="movie-name"><%= link_to movie.title, movie_path(movie) %></h2>
      <div class="movie-poster">
        <%= image_tag(movie.cover_image_url.presence || 'movie-poster-credits-178.jpg', alt: movie.title) %>
      </div>
      <div class="movie-info">
        <p>Duration: <%= movie.duration %></p>
        <p>Year of Creation: <%= movie.year_of_creation %></p>
      </div>
    </div>
  <% end %>
</div>
