:root{
    --text-color: #e2e1ef;
    --p-title: white;
}

html, body {
    height: 100%;
    font-size: 18px;
    margin-top: 50px;
    background-color: #1b1b28;
}

.btn{
    background-color: #0028d4;
    color: var(--text-color);
    border: none;
}
.btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #6582FF;


}
button.movie-import-btn, input.movie-import-btn[type="submit"] {
    width: 200px; !important;
}


.movie-import-btn{
    background-color: #6582FF;
    color: var(--text-color);
    border: none;
}
.movie-import-btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #4164ef;
}

.edit-button{
    color: #414eff;
    text-decoration: none;
    border: 2px solid #e2e1ef;
    padding: 3px 15px;
    border-radius: 10px;
    background-position: center;
    transition: background 0.3s;
}
.edit-button:hover{
    background: #e2e1ef radial-gradient(circle, transparent 1%, #e2e1ef 1%) center/15000%;
}

.edit-button:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}
.movie-e-button{
    margin-top: 15px;
    margin-bottom: 15px;
}

.delete-button{
    color: #f30202;
    text-decoration: none;
    border: 2px solid #e2e1ef;
    padding: 3px 15px;
    border-radius: 10px;
    background-position: center;
    transition: background 0.3s;
}
.delete-button:hover{
    background: #e2e1ef radial-gradient(circle, transparent 1%, #e2e1ef 1%) center/15000%;
}
.delete-button:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}
.movie-d-button{
    margin-bottom: 15px;
}

.edit-comment-button{
    color: #414eff;
    text-decoration: none;
    border: 2px solid #e2e1ef;
    padding: 3px 15px;
    border-radius: 10px;
    background-position: center;
    transition: background 0.3s;
}
.edit-comment-button:hover{
    background: #e2e1ef radial-gradient(circle, transparent 1%, #e2e1ef 1%) center/15000%;
}
.edit-comment-button:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
}

.delete-comment-button{
    color: #7261ff;
    text-decoration: none;
    border: 2px solid #e2e1ef;
    padding: 3px 15px;
    border-radius: 10px;
    background-position: center;
    transition: background 0.3s;
}

.delete-comment-button:hover{
    background: #e2e1ef radial-gradient(circle, transparent 1%, #e2e1ef 1%) center/15000%;

}
.edit-c-button{
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-title{
    margin-top: 10px;
    margin-bottom: -25px;
    color: white;
}
.remember-checkbox{
    margin-top: -20px;
    margin-bottom: 10px;
}
.login-button{
    margin-top: 60px;
}

.reg-button{
    background-color: rgba(173, 173, 184, 0.82);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 5px;
}
.reg-button:hover{
    background-color: rgb(173, 173, 184);
}

.forgot-pass-button{
    color: white;
    text-decoration: none;
}
.forgot-pass-button:hover{
    color: #0ab1b1;
}
.forgot-pass-div{
    margin-top: 10px;
}
.login-form{
    margin-bottom: 20px;
}

.header {
    background-color: rgba(19, 19, 27, 0.7);
    padding: 20px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(15px);

}
.header-button a{
    font-size: 18px;
    color: #e2e1ef;
    margin-right: 10px;
    text-decoration: none;
}
.header-button-h:hover{
    color: #0ab1b1;
}
.page-title {
    font-size: 40px;
    color: #e2e1ef;
}
.movie-name a{
    padding: 6px 12px;
    font-size: 30px;
    color: #0b1305;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.search-m-title{
    color: var(--text-color);
    font-size: 30px;
    text-decoration: none;
}
.search-m-title:hover{
    color: #0ab1b1;
}

.user-nick{
    color: var(--text-color)
}
.movie-name p{
     color: var(--p-title);
}
.movie-name{
    margin-bottom: 7px;
}

.movie-name :hover {
    background-color: #2f303a;
    box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.37);
}
.description-label {
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
    color: var(--p-title);
}

.movie-description{
    font-size: 20px;
    font-weight: normal;
    color: var(--text-color);
}

.movie-info p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.all-movie div{
    margin-top: 5px;
    margin-bottom: 20px;
}
.all-movie a{
    color: var(--p-title);
}

.all-movie p{
    color: var(--text-color);
}

.show-movie-name{
    color: var(--p-title);
}

.show-movie p{
    color: var(--p-title);
}

.comment-label{
    color: var(--text-color);
}

.form-name{
    color: white;
}

.movie-details{
    margin-top: 30px;
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.movie-poster img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
